* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer; }

@font-face {
  font-family: "Rubik";
  src: url(/assets/ttf/Rubik-Regular.ttf);
  font-style: normal; }

@font-face {
  font-family: "Rubik";
  src: url(/assets/ttf/Rubik-Bold.ttf);
  font-weight: bold; }

.row {
  --bs-gutter-x: 0rem; }

.Footer__buttom-description {
  font-family: Rubik;
  color: grey;
  text-align: justify;
  line-height: 30px; }

.Footer__redes {
  opacity: 30%;
  border-radius: 40px;
  position: fixed;
  bottom: 0;
  right: 0; }

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.Text {
  text-align: justify; }

.conteiner, .header__img, .header__nav, .Footer, .Hero__conteiner__wrap {
  max-width: 1200px;
  margin: 0 auto; }

.button {
  flex-basis: 30%;
  border: #fff8dc solid 2px;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  color: #7e7878;
  background-color: #fff8dc; }

.button:hover {
  color: #da70d6; }

.button:focus {
  animation: vibrate-1 0.3s forwards; }

.nav-text {
  text-decoration: none;
  color: #fff8dc;
  margin: 5px; }

.header {
  display: flex;
  justify-content: sapace-between;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0; }
  .header__img {
    display: flex;
    justify-content: start; }
  .header__nav {
    display: flex;
    justify-content: end; }
    .header__nav li a:hover {
      color: #ffc1d3; }

footer {
  background-color: #f8baf799; }

.Footer__conteiner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; }

.Footer__buttom-ingreso {
  display: flex;
  justify-content: center;
  align-items: center; }

.Footer__rrss {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px; }
  .Footer__rrss .rs-pinterest {
    color: #fff8dc;
    font-size: 30px;
    transition: 0.5s; }
    .Footer__rrss .rs-pinterest:hover {
      color: #e70303; }
  .Footer__rrss .rs-twitter {
    color: #fff8dc;
    font-size: 30px;
    transition: 0.5s; }
    .Footer__rrss .rs-twitter:hover {
      color: #55acee; }
  .Footer__rrss .rs-facebook {
    color: #fff8dc;
    font-size: 30px;
    transition: 0.5s; }
    .Footer__rrss .rs-facebook:hover {
      color: #2279e4; }

main {
  height: auto;
  background-image: linear-gradient(to right bottom, #f4f4f4, #f4f3f5, #f4f3f6, #f5f2f7, #f6f1f8, #f5e5fa, #f5d8fa, #f6cbfa, #f4aef9, #f18ef6, #ee6bf2, #eb3ced); }

.Hero__conteiner {
  display: flex;
  max-width: 100%;
  height: 80vh;
  background-image: url(../assets/images/general/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; }
  .Hero__conteiner__wrap {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    height: 100%; }
    .Hero__conteiner__wrap-text {
      flex-basis: 50%;
      color: #f601f6;
      text-align: left;
      align-self: center; }
      .Hero__conteiner__wrap-text span {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 300; }
      .Hero__conteiner__wrap-text h1 {
        font-size: 32px;
        line-height: .9;
        padding-bottom: 3px; }
      .Hero__conteiner__wrap-text p {
        font-size: 15px;
        line-height: 1.2;
        text-align: justify; }
      .Hero__conteiner__wrap-text-button {
        display: flex;
        margin-top: 30px;
        flex-flow: row wrap; }

.main__Formulario {
  grid-area: main__Formulario;
  text-align: center;
  width: auto;
  padding: 20px;
  width: 600px;
  border-radius: 10px; }

.main_text-Formulario {
  grid-area: main_text-Formulario;
  text-align: center;
  margin: auto;
  padding: 20px;
  font-size: 40px; }

.main__Formulario-Button {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center; }

.Text_header-Con2 {
  display: none; }

.main__Formulario {
  height: auto;
  width: auto; }

.Gallery {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 133px);
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 1rem; }
  .Gallery__item {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: span 2;
    height: 283px;
    transition: 0.5s filter; }
    .Gallery__item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .Gallery__item :hover {
      filter: brightness(0.3); }
      .Gallery__item :hover:first-of-type {
        grid-column: 2/ span 2; }

@media screen and (min-width: 1416px) and (max-width: 2000px) {
  .Gallery__item:nth-of-type(6n +1) {
    grid-column: 2/ span 2; }
  .Gallery {
    height: 800px; } }

@media screen and (min-width: 1177px) and (max-width: 1415px) {
  .Gallery__item:nth-of-type(6n +1) {
    grid-column: 2/ span 2; }
  .Gallery {
    height: 800px; } }

@media screen and (min-width: 1027px) and (max-width: 1176px) {
  .Gallery__item:first-of-type {
    grid-column: 2/ span 2; }
  .Gallery__item:nth-of-type(6n +1) {
    grid-column: 2/ span 2; }
  .Gallery {
    height: 800px; } }

@media screen and (min-width: 878px) and (max-width: 1026px) {
  .Gallery__item:nth-of-type(6n) {
    grid-column: 2/ span 2; }
  .Gallery {
    height: 1000px; } }

@media screen and (min-width: 728px) and (max-width: 877px) {
  .Gallery__item:first-of-type {
    grid-column: 2/ span 2; }
  .Gallery__item:nth-of-type(4n +1) {
    grid-column: 2/ span 2; }
  .Gallery {
    height: 1200px; } }

@media screen and (min-width: 580px) and (max-width: 727px) {
  .Gallery__item:first-of-type {
    grid-column: 1/ span 2; }
  .Gallery {
    grid-auto-rows: 283px; } }

@media screen and (min-width: 300px) and (max-width: 579px) {
  .Gallery__item:first-of-type {
    grid-column: 1/ span 2; }
  .Gallery {
    grid-auto-rows: 283px; } }
