* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    
    

}
@font-face {
    font-family: "Rubik";
    src: url(./assets/ttf/Rubik-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url(./assets/ttf/Rubik-Bold.ttf);
    font-weight: bold;
}
main {
   height: auto;
    background-image: linear-gradient(to right bottom, #f4f4f4, #f4f3f5, #f4f3f6, #f5f2f7, #f6f1f8, #f5e5fa, #f5d8fa, #f6cbfa, #f4aef9, #f18ef6, #ee6bf2, #eb3ced);
    
   
}
footer {
    height: auto;
    background-color: rgb(248, 186, 247, 60%);
} 
.header {
    position: sticky;
    z-index: 1;
    top: 0;
    
  
}
.Text {
    text-align: justify;
}

  


.Gallery {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 133px);
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 1rem;


}
.Gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}
.Gallery__item {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25% );
    grid-column: span 2;
    height: 283px;
    transition: 0.5s filter;


    

}


.Gallery__item:hover {
   filter: brightness(0.3);
}
.Gallery__item:first-of-type {
    grid-column: 2/ span 2;
}


.main__conteiner {
    margin: 100px auto;
    width: 600px;
    

}


.main__formulario-container {
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "main_conteiner main_conteiner"
    "main__Formulario main__Formulario-map"
    

}

.main__conteiner {
    grid-area: main_conteiner;
    margin: 100px auto;
    width: 600px;
    

}
.main__Formulario {
    grid-area: main__Formulario;
    text-align: center;
    width: auto;

    background-color: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);

}
.main_text-Formulario {
    grid-area: main_text-Formulario;
    color: black;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 40px;

}


.main__Formulario-Button {
    background-color: rgb(248, 59, 233,40%);
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    color: #082077;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

}

.Footer__buttom-ingreso {

    text-align: center;
    max-width: 700px;
    width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
    transition: background-color 0.5s;

}
.Footer__buttom {
    width: 200px;

}

  

.Footer__buttom:hover {
    background-color: #f2c0f5;
}
.Footer__buttom:focus {
    
    animation: vibrate-1 0.3s forwards;
}
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}



.Footer__buttom-description {

    font-family: Rubik;

    color: grey;

    text-align: justify;

    line-height: 30px;

    font-weight: 500;

}
.Footer__redes {
    opacity: 50%;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;


}


.main__conteiner {
    display: none;
}
.Text_header-Con2 {
    display: none;
}
.main__Formulario {
    height: auto;
    width: auto;
}



@media screen and (min-width: 1416px) and (max-width: 2000px) {
    .Gallery__item:nth-of-type(6n +1) {
        grid-column: 2/ span 2;
    }
    .Gallery {
        height: 800px;
    }  
  
}
@media screen and (min-width: 1177px) and (max-width: 1415px) {
    .Gallery__item:nth-of-type(6n +1) {
        grid-column: 2/ span 2;
    } 
      .Gallery {
        height: 800px;
    }  
    
  
}
@media screen and (min-width: 1027px) and (max-width: 1176px) {
    .Gallery__item:first-of-type{
        grid-column: 2/ span 2;
    }
    .Gallery__item:nth-of-type(6n +1) {
        grid-column: 2/ span 2;

    }  
    .Gallery {
        height: 800px;
    }   
}
@media screen and (min-width: 878px) and (max-width: 1026px) {

    .Gallery__item:nth-of-type(6n) {
        grid-column: 2/ span 2;

    }  
    .Gallery {
        height: 1000px;
    }   
}
@media screen and (min-width: 728px) and (max-width: 877px) {
    .Gallery__item:first-of-type {
        grid-column: 2/ span 2;
    } 
    .Gallery__item:nth-of-type(4n +1) {
        grid-column: 2/ span 2;

    } 
    .Gallery {
        height: 1200px;
    }
}    
    
@media screen and (min-width: 580px) and (max-width: 727px) {
    .Gallery__item:first-of-type {
        grid-column: 1/ span 2;
    } 
    .Gallery {
        grid-auto-rows: 283px;
    
    }
}

@media screen and (min-width: 300px) and (max-width: 579px) {
    .Gallery__item:first-of-type {
        grid-column: 1/ span 2;
    } 
    .Gallery {
        grid-auto-rows: 283px;
    
    }
}























