.Gallery {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 133px);
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 1rem;
    &__item {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25% );
        grid-column: span 2;
        height: 283px;
        transition: 0.5s filter;
        & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
        }
        & :hover {
            filter : brightness(1.10);
            &:first-of-type {
                grid-column: 2/ span 2; 
            }
        }
    }


}



