* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
@font-face {
    font-family: "Rubik";
    src: url(/assets/ttf/Rubik-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url(/assets/ttf/Rubik-Bold.ttf);
    font-weight: bold;
}

.row {
--bs-gutter-x: 0rem;
}

.Footer__buttom-description {

    font-family: Rubik;

    color: grey;

    text-align: justify;

    line-height: 30px;



}

  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}
.Text {
    text-align: justify;
}
.conteiner {
    max-width: 1200px;
    margin: 0 auto;

}

@mixin templateFlex($valueJustify, $alignItems) {
    display: flex;
    justify-content: $valueJustify;

@if ($alignItems == true) {
    align-items: center;

}
    
}
@mixin templateGrid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 10px;
}

.button {
    flex-basis: 30%;
    border: $colorFont solid 2px;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color: $color2;
    background-color: $colorFont;
}
.button:hover {
    color: $colorPrimary;
}
.button:focus {
    animation: vibrate-1 0.3s forwards;
}
.nav-text {
    text-decoration: none;
    color: $colorFont;
    margin: 5px;
}
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    opacity: 50%;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }